/**
 * @file
 * Page header styling.
 */

#section-header {
  padding: 1em 0;
  box-shadow: 0 5px 10px -5px #262729;
}

.region-logo #block-sitebranding {
  position: relative;
  height: 100%;
  border-bottom: none;
  background: url("../images/home-icon-navy.svg");
  background-repeat: no-repeat;
  background-position-x: 8px;
  background-position-y: 49%;
  background-size: 20px 20px;
}

.region-logo #block-sitebranding a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0.5em 1.8em;
  text-align: center;
  text-transform: uppercase;
  color: #002d5b;
  border: 1px solid #002d5b;
  font-family: "Work Sans", sans-serif;
  font-size: 1.2em;
  font-weight: unset;
}

.region-logo #block-sitebranding a:hover,
.region-logo #block-sitebranding a:focus,
.region-logo #block-sitebranding a:active {
  color: #fff;
  border: 1px solid transparent;
  background: url("../images/home-icon-white.svg");
  background-color: #002d5b;
  background-repeat: no-repeat;
  background-position-x: 8px;
  background-position-y: 49%;
  background-size: 20px 20px;
}

.site-name {
  width: 100%;
  height: 100%;
}

#main-navigation .region-navigation,
#main-menu {
  background-color: #f7f7f7;
}

#billboard {
  position: relative;
}

#billboard #header-image {
  position: relative;
  overflow: hidden;
  height: 25vw;
  min-height: 150px;
  max-height: 350px;
  border-bottom: 7px solid #002d5b;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#billboard #header-image .page-title {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: #fff;
  text-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#billboard #header-image .page-title h1 {
  display: inline-block;
  padding: 0 1em;
  background-color: rgba(0,0,0,0.5);
}

.page-node-type-page .page-title,
.page-node-type-landing-page .page-title,
.page-node-type-marketing-landing-page .page-title {
  display: none;
}

.no-billboard .page-title {
  display: block;
}

#billboard .billboard-caption {
  position: absolute;
  bottom: 1em;
  left: 1em;
}

#billboard .billboard-caption span {
  display: inline-block;
  margin: 0 0 0.25em 0;
  padding: 0.5em 1em;
  color: #fff;
  background-color: rgba(0,0,0,0.5);
  font-size: 0.9em;
  font-weight: bold;
}

@media only screen and (min-width: 650px) {

  .page-title h1 {
    display: inline-block;
    margin: 0.6316em 0;
    padding: 0 1em;
  }

  .region-logo #block-sitebranding img {
    width: 100%;
  }

  .no-billboard .region-logo #block-sitebranding {
    z-index: 1;
    border: none;
  }

}

@media only screen and (min-width: 900px) {

  #billboard {
    min-height: 171px;
  }

  .no-billboard #billboard {
    min-height: 0;
  }

}

@media only screen and (min-width: 1100px) {

  #billboard .billboard-caption {
    font-size: 1.2em;
  }

}
