/**
 * @file
 * This file defines the page layout structure.
 */

#section-header,
#section-billboard,
#section-main,
#section-fatfooter,
#section-footer {
  position: relative;
  float: none;
  clear: both;
}

#section-main-navigation,
#section-main {
  max-width: 1200px;
}

#section-main-navigation {
  margin-top: 0.5em;
}

#section-main-navigation .region-logo {
  width: 100%;
}

#section-main-navigation #main-navigation {
  width: 100%;
}

#section-main .layout-content {
  width: 100%;
}

#content-inner {
  margin: 0 auto;
  padding: 1.5em 0.25em;
}

.node-type-landing-page #content-inner,
.node-type-basic-page #content-inner {
  max-width: 800px;
  margin: 0 auto;
  padding: 1.5em 0.25em;
}

.path-frontpage #breadcrumb,
.page-node-type-marketing-landing-page #breadcrumb {
  display: none;
}

@media only screen and (min-width: 650px) {

  #breadcrumb {
    max-width: 1100px;
    margin: 1em auto;
  }

  #section-main {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-items: stretch;
    align-items: stretch;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
  }

  #section-main-navigation {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    width: 100%;
  }

  #section-main-navigation .region-logo {
    flex: 0 1 20%;
    margin-left: 1em;
  }

  #section-main-navigation #main-navigation {
    flex: 0 1 auto;
    width: auto;
  }

  #sidebar-first {
    order: -1;
  }

  .one-sidebar #sidebar-first,
  .one-sidebar #sidebar-second {
    width: 33%;
  }

  .one-sidebar.sidebar-first #section-main .layout-content,
  .one-sidebar.sidebar-second #section-main .layout-content {
    width: 66%;
  }

  .two-sidebars #section-main .layout-content {
    width: 50%;
  }

  .two-sidebars #sidebar-first,
  .two-sidebars #sidebar-second {
    width: 25%;
  }
}
@media only screen and (min-width: 800px) {

  #section-main-navigation .region-logo {
    -webkit-box-flex: 0 1 20%;
    -moz-box-flex: 0 1 20%;
    -webkit-flex: 0 1 20%;
    -ms-flex: 0 1 20%;
    flex: 0 1 20%;
  }

  #section-main-navigation #main-navigation {
    -webkit-box-flex: 0 1 auto;
    -moz-box-flex: 0 1 auto;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    align-self: center;
  }
}
@media only screen and (min-width: 1000px) {

  #section-main-navigation {
    margin: 0 auto;
  }
}
