/**
 * @file
 * Primary menu styling.
 */

/* Normal Menus */

nav > ul,
ul.menu {
  margin: 0;
}

nav > ul li,
ul.menu li {
  margin: 0;
  padding: 0;
  font-size: 1em;
}

nav > ul a,
ul.menu a {
  border: none;
}

nav > ul li.is-active a {
  color: #333335;
  border-bottom: 1px solid #333335;
}

nav > ul,
ul.menu,
ul.menu .menu-item--expanded {
  list-style-type: none;
  list-style-image: none;
}

nav > ul ul,
ul.menu ul {
  margin: 0 0 0 0.75em;
}

nav > ul ul ul,
ul.menu ul ul {
  margin: 0 0 0 0.75em;
}

nav > ul li ul li.last,
ul.menu li ul li.last {
  padding: 0;
}

/* Main Navigation */

#main-navigation nav > ul {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: stretch;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 100%;
  margin: 0;
  margin: auto;
  text-align: center;
  font-weight: bold;
  line-height: normal;
}

#main-navigation nav > ul li {
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  width: 100%;
  margin: 0;
  padding: 0;
  -webkit-box-flex: 1 0 auto;
  -moz-box-flex: 1 0 auto;

}

#main-navigation nav > ul li a {
  display: block;
  margin-bottom: -2px;
  padding: 0.3em;
  text-transform: uppercase;
  color: #262729;
  border-bottom: 1px solid #262729;
  background: transparent;
  font-family: "Work Sans", "Open Sans", sans-serif;
  font-size: 1.1em;
  font-weight: initial;
}

#main-navigation nav > ul li a:hover,
#main-navigation nav > ul li a:focus {
  margin-bottom: -3px;
  color: #262729;
  border-bottom: 2px solid #0054A6;
}

/* Secondary Navigation */

.region-secondary-menu {
  position: relative;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -webkit-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  max-width: 100%;
  margin: 0 auto;
}

#section-secondary-navigation {
  margin: 1em;
  text-align: center;
  background-color: #FFF;
}

#section-secondary-navigation #search-block-form {
  position: relative;
}

#section-secondary-navigation #search-block-form input {
  width: 125px;
  border: 1px solid #262729;
}

#block-hfcglobalhomelink {
  width: 300px;
  height: 40px;
  margin-bottom: 0.5em;
}

#block-hfcglobaluniversalnavigation a {
  display: inline-block;
  margin: 0.5em 0.5em -1px 0.5em;
  padding: 0.3em;
  text-transform: uppercase;
  color: #262729;
  border: 1px solid #595959;
  background-color: #FFF;
  font-family: "Work Sans","Open Sans",sans-serif;
}

#block-hfcglobaluniversalnavigation a:hover,
#block-hfcglobaluniversalnavigation a:focus {
  margin-bottom: -2px;
  border-bottom: 2px solid #595959;
  background-color: transparent;
}

#block-hfcglobalhomelink a {
  position: absolute;
  right: 0;
  left: 0;
  width: 300px;
  max-width: 100%;
  height: 40px;
  margin: auto;
  color: transparent;
  border: none;
  background-image: url("../images/hfc-futuredriven-horizontal.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  font-size: 0;
  line-height: 0;
}

#section-secondary-navigation nav > ul li:nth-child(1) a:hover {
  margin: auto;
  border: none;
}

/* Sidebar Menus */

.sidebar nav > ul li a {
  display: block;
  margin: 0.25em 0;
  padding: 0.25em 1em;
  color: inherit;
  border-left: 7px solid #006FBA;
  background-color: #F7F7F7;
  font-family: Montserrat;
  font-weight: bold;
}

.sidebar nav > ul li a.is-active {
  border-left: 7px solid #002D5B;
}

.sidebar nav > ul li a:hover,
.sidebar nav > ul li a:focus {
  background: transparent;
}

.sidebar nav > ul > ul {
  margin-top: 0;
}
@media only screen and (min-width: 500px) {

  #main-navigation nav > ul li {
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: auto;
    margin: 0.2em 1em;
    -webkit-box-flex: 0 1 auto;
    -moz-box-flex: 0 1 auto;
  }

}
@media only screen and (min-width: 800px) {

  #block-hfcglobalhomelink {
    margin-bottom: 0;
  }

  #block-hfcglobalhomelink a {
    right: auto;
    bottom: auto;
  }

  .region-secondary-menu {
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }

}
@media only screen and (min-width: 1080px) {

  #main-navigation nav > ul {
    font-size: 1em;
    line-height: normal;
  }

  .region-secondary-menu {
    width: 1200px;
  }

}
