/**
 * @file
 * Primary styling for nodes.
 */

.node-unpublished {
  background: url(../images/draft-bg.png) no-repeat right top transparent;
}

.node .submitted {
  font-style: italic;
  margin: 0 0 0.5em;
}

div.field-label-inline {
  margin: 0 0 1.5em;
}

.field-name-field-header-image {
  margin: 0 0 1.5em;
}

.field-name-field-callout,
.callout {
  font-size: 1.5em;
  line-height: 1.5em;
  margin: 1.5em 0;
}

.field-name-field-person-photo img {
  width: 200px;
}

.inline-field-group {
  margin: 0 0 1.5em;
}

/* Format links section. */

.node .content .links {
  font-size: 0.8em; /* 11.2px */
  line-height: 1.875em;
  text-transform: uppercase;
}

.node .content .links li {
  padding: 0 0.328em 0 0;
}

.node .content .links a {
  background: #ffa;
  -moz-border-radius: 0.262em;
  border-radius: 0.262em;
  color: #777;
  padding: 0.134em 0.328em;
  text-decoration: none;
}

.node .content .links a:hover {
  color: #555;
  text-decoration: underline;
}

/* Format program sequence tables in program displays. */

.group-program-sequence thead > tr {
  padding: 0 0.6em;
}

.field-type-program-sequence {
  max-width: 1024px;
}

.field-type-program-sequence th {
  font-weight: bold;
}

.field-type-program-sequence td {
  padding-bottom: 0.25em;
  padding-top: 0.25em;
  vertical-align: top;
}

.field-type-program-sequence .term-title {
  font-size: 1.1em;
  font-weight: bold;
  padding: 0.5em 0 0.5em 0.25em;
}

.field-type-program-sequence .course-name {
  padding-right: 1em;
  white-space: nowrap;
  width: 10%;
}

.field-type-program-sequence .course-title {
  padding-right: 1em;
  width: 50%;
}

.field-type-program-sequence .course-prerequisites {
  width: 35%;
}

.field-type-program-sequence .hours {
  padding-left: 1em;
  text-align: right;
  width: 10%;
}

.field-type-program-sequence .term-total-hours-label,
.field-type-program-sequence .term-total-hours,
.field-type-program-sequence .prog-total-hours-label,
.field-type-program-sequence .prog-total-hours {
  font-weight: bold;
  padding: 0.25em 0;
  text-align: right;
}

/* Formatting for Webforms and other non-admin forms */

.form-item div.description {
  background: #f2f2f2;
  border-bottom: solid 1px #ccc;
  border-top: solid 1px #ccc;
  font-style: italic;
  margin: 0.5em 0;
  padding: 0.5em 1em;
}

.fieldset-legend {
  color: #0054A6;
  font-size: 1.563em;
  line-height: 1.9200em;
  margin: 0 0 0.96em;
  padding: 0 0.5em;
}

fieldset {
  border: 1px solid #ccc;
  padding: 1em;
}

.form-item label {
  color: #444;
}

label.option {
  color: #222;
  font-size: 1em;
}

.marker, .form-required {
  color: #E84A37;
}

.webform-progressbar-page {
  background-color: #ccc;
  border: none;
  border-radius: 5px;
  margin: -5px -4px;
}

.webform-progressbar-outer {
  background-color: #ccc;
  border: none;
}

.webform-progressbar-inner {
  background-color: #AAC54E;
}

.webform-progressbar-page.completed {
  background-color: #AAC54E;
}

.webform-progressbar-page.current {
  background-color: #AAC54E;
}

/** HFCC Web Services Client **/

#hfccwsclient-staffdir-form #edit-search {
  border: 1px solid #ccc;
  padding: 0 0.88em 1em;
}

#hfccwsclient-staffdir-form #edit-search > legend {
  padding: 0 0.325em;
}

#hfccwsclient-staffdir-form #edit-search .form-item {
  float: left;
  padding-right: 1.5em;
}

#hfccwsclient-staffdir-form #edit-search .form-submit {
  /*float: left;*/
}
.staff-directory-results td {
  padding: 0.325em 0;
  vertical-align: top;
}

/* Search Bar on View */

.view.search-bar .view-filters form {
  text-align: center;
  margin: 0;
  margin: 0 0 1.5em 0;
}

.view.search-bar .view-filters form .form-item {
  width: 600px;
  max-width: 85%;
  display: inline-block;
  float: none;
}
.view.search-bar .view-filters form #edit-actions {
  display: inline-block;
  vertical-align: bottom;
  margin: 0;
}

.view.search-bar .view-filters form .form-item label {
  color: #006FBA;
  text-align: center;
  font-weight: 700;
  font-family: Montserrat, sans-serif;
}

.view.search-bar .view-filters input[type="text"] {
  width: 100%;
  line-height: 2em;
  margin: 0;
  padding: 0 4px;
  font: inherit;
  min-height: 40px;
  display: inline-block;
  vertical-align: bottom;
}

.view.search-bar .view-filters input[type="submit"] {
  background-color: #002348;
  padding: 0;
  margin: 0;
  border: 2px solid #002348;
  background-image: url('../images/search.svg');
  background-color: #002348;
  background-size: 25px 25px;
  width: 40px;
  height: 40px;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  font-size: 0;
  color: transparent;
  transition: all .2s ease;
  min-height: 40px;
  display: inline-block;
  vertical-align: bottom;
}

.view.search-bar .view-filters input[type="submit"]:hover {
  background-color: transparent;
  background-image: url('../images/search-blue.svg');
  color: #002348;
}

.view.search-bar .form-item, .form-actions {
  margin: 0;
}
