/**
 * @file
 * Primary page styling.
 */

/* Highlighted */

#highlighted .region-highlighted {
  background-color: #FFFF50;
}

#highlighted .region-highlighted > div {
  margin: 0 auto;
  max-width: 1000px;
  padding: 1em 2em;
}

/* Breadcrumb */

#breadcrumb ol {
  font-size: 0.8em;
  overflow: hidden;
}

#breadcrumb ol {
  list-style-image: none;
  list-style-type: none;
}

#breadcrumb ol li {
  border-bottom: 1px solid transparent;
  color: #222;
  display: inline-block;
}

#breadcrumb ol li:hover,
#breadcrumb ol li.focus {
  border-bottom: 1px solid #222;
}

/* Tabs */

ul.tabs {
  border-bottom: 1px solid #ccc;
}

ul.tabs li a {
  border: 1px solid #ccc;
  border-bottom: none;
  background-color: #f5f5f5;
}

ul.tabs li.is-active a {
  border: 2px solid #ccc;
  border-bottom: 1px solid #fff;
  margin-bottom: -2px;
  background-color: transparent;
}

ul.tabs li a:hover,
ul.tabs li a:focus {
  background-color: transparent;;
}

/* Sidebars */

.sidebar .region {
  padding: 1em;
}

/** Fix for search page **/

#google-cse-results > iframe {
  max-height: 1200px;
}

@media only screen and (min-width: 770px) {

  #breadcrumb ol li {
    background: #ababab;
    border-bottom: none;
    color: #212121;
    display: block;
    float: left;
    padding: 10px 0 10px 50px;
    position: relative;
  }

  #breadcrumb ol li:before {
    border-bottom: 50px solid transparent;
    border-left: 30px solid white;
    border-top: 50px solid transparent;
    content: " ";
    display: block;
    height: 0;
    margin-left: 3px;
    margin-top: -50px;
    position: absolute;
    left: 100%;
    top: 50%;
    width: 0;
    z-index: 1;
  }

  #breadcrumb ol li:after {
    border-bottom: 50px solid transparent;
    border-left: 30px solid #ababab;
    border-top: 50px solid transparent;
    content: " ";
    display: block;
    height: 0;
    margin-top: -50px;
    position: absolute;
    left: 100%;
    top: 50%;
    width: 0;
    z-index: 2;
  }

  #breadcrumb ol li:first-child {
    padding-left: 10px;
  }

  #breadcrumb ol li:nth-child(2) {
    background-color: #c5c5c5;
  }

  #breadcrumb ol li:nth-child(2):after {
    border-left: 30px solid #c5c5c5;
  }

  #breadcrumb ol li:nth-child(3) {
    background-color: #dedede;
  }

  #breadcrumb ol li:nth-child(3):after {
    border-left: 30px solid #dedede;
  }

  #breadcrumb ol li:nth-child(4) {
    background-color: #f8f8f8;
  }

  #breadcrumb ol li:nth-child(4):after {
    border-left: 30px solid #f8f8f8;
  }

  #breadcrumb ol li:hover,
  #breadcrumb ol li:focus {
    background: #fff;
    border-bottom: none;
  }

  #breadcrumb ol li:hover:after,
  #breadcrumb ol li:focus:after {
    border-left: 30px solid #fff;
  }

}
