/*
 * @file
 * Provides the layout styles for layout_twocol.
 */

.layout--twocol {
  display: flex;
  flex-wrap: wrap;
}

.layout--twocol > .layout__region {
  flex: 0 1 100%;
}

@media screen and (min-width: 40em) {

  .layout--twocol {
    justify-content: space-between;
  }

  .layout--twocol>.layout__region--first,
  .layout--twocol>.layout__region--second {
    flex: 0 1 45%;
  }
}
