{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.logo: Items for the logo region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
<div id="page" class="layout-container">

  <header id="section-header" role="banner">
    {% if page.secondary_menu %}
      <div id="section-secondary-navigation">
        {{ page.secondary_menu }}
        {{ page.header }}
      </div>
    {% endif %}
    {% if page.highlighted %}
      <div id="highlighted">
        {{ page.highlighted }}
      </div>
    {% endif %}
    {% if page.help %}
      <div id="help">
        {{ page.help }}
      </div>
    {% endif %}
    <div class="header-container">
      {% if site_name %}
        <div id="name-and-slogan">
          <h1 id="site-name">{{ site_name }}</h1>
          <div id="site-slogan">
            <span>{{ site_slogan }}</span>
          </div>
        </div>
      {% endif %}
    <div id="section-main-navigation">
      {% if page.logo %}
        {{ page.logo }}
      {% endif %}
      {% if page.primary_menu %}
        <div id="main-navigation">
          {{ page.primary_menu }}
        </div>
      {% endif %}
    </div>
  </header>
  <section id="section-billboard">
    {% if page.billboard %}
    <div id="billboard" class="region-billboard">
      {{ page.billboard }}
    </div>
    {% endif %}
    {% if page.breadcrumb %}
    <div id="breadcrumb" class="no-link">
        {{ page.breadcrumb }}
    </div>
    {% endif %}
  </section>

  <main role="main" id="section-main">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
    {% if page.content %}
      <div class="layout-content" id="content-inner">
        {{ page.content }}
      </div>{# /.layout-content #}
    {% endif %}

    {% if page.sidebar_first %}
      <aside id="sidebar-first" class="layout-sidebar-first sidebar" role="complementary">
        {{ page.sidebar_first }}
      </aside>
    {% endif %}

    {% if page.sidebar_second %}
      <aside id="sidebar-second" class="layout-sidebar-second sidebar" role="complementary">
        {{ page.sidebar_second }}
      </aside>
    {% endif %}

  </main>

  {% if page.fatfooter %}
    <div id="section-fatfooter">
      {{ page.fatfooter }}
    </div>
  {% endif %}

  {% if page.footer %}
    <footer id="section-footer" role="contentinfo">
      {{ page.footer }}
    </footer>
  {% endif %}

</div>{# /.layout-container #}
